.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    text-align: right;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .validation{
      background: white;
      padding: 9px;
  }
  .columns{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .custom-error-message{
    left: 0;
    top: 40px;
  }