<form class="item-wrapper" [formGroup]="form.form">
    <label>{{field.label}}</label>
    <div class="validation" *ngIf="field">
        <img src="../../../../assets/right.png" *ngIf="form.isFieldValid(name)">
        <input [formControlName]="field.name" [type]="field.inputType" class="input" [(ngModel)]="field.value"
            [placeholder]="field.placeholder">
        <div class="error-message">
            <div class="single-message">{{form.getErrorMessage(field)}}</div>
        </div>
    </div>
</form>