.is-1{
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    color: #000000;
    text-transform: uppercase;
}
.section{
    text-align: center;
}
.columns{
    text-align: left;
    .column{
        padding: 30px;
    }
}
.btn-primary{
    text-transform: uppercase;
}
