<div class="section">
  <h1 class="title is-1">
    apply for the position of purchasing assistant
  </h1>
  <form [formGroup]="createApplicationService.form">
    <div class="columns">
      <div class="column">
        <label class="label">Personal details *</label>
        <app-input [form]="createApplicationService" [name]="'name'"></app-input>
        <app-input [form]="createApplicationService" [name]="'surname'"></app-input>
        <app-input [form]="createApplicationService" [name]="'email'"></app-input>
        <app-data-picker [form]="createApplicationService" [name]="'dateOfBirth'"></app-data-picker>
      </div>
      <div class="column">
          <label class="label">Details of the place of residence *</label>
          <app-input [form]="createApplicationService" [name]="'country'"></app-input>
          <app-input [form]="createApplicationService" [name]="'street'"></app-input>
          <app-input [form]="createApplicationService" [name]="'postCode'"></app-input>
      </div>
    </div>
    <div class="columns">
      <div class="column">

        <label class="label">Your motivation *</label>
        <app-textarea [form]="createApplicationService" [name]="'motivation'"></app-textarea>
      </div>
      <div class="column">

        <label class="label">Attach your documents (pdf, doc(x), jpg, max 4 Mb)</label>
        <app-file-chooser [form]="createApplicationService" [name]="'resume'"></app-file-chooser>
        <app-file-chooser [form]="createApplicationService" [name]="'cv'"></app-file-chooser>
        <app-file-chooser [form]="createApplicationService" [name]="'portfolio'"></app-file-chooser>
      </div>
    </div>
  </form>
</div>