<div class="footer">
  <div class="additional-info">
    <div class="columns">
      <div class="column">
        <h2 class="title is-2">Application procedure</h2>
        <div class="content">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li>Excepteur sint occaecat cupidatat non proident in voluptate.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <h2 class="title is-2">Got a question?</h2>
        <div class="content">
          <strong>Please contact recruitment:</strong>
          <p>T: +31 234 56 78</p>
          <p>Or <a  href="mailto:example@gmail.com">send us an email</a></p>
        </div>

      </div>
    </div>
  </div>
</div>